@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}
img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 620px);
  padding-right: calc(50% - 620px);
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: url(img/background_header.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-color: #e5e5e5;
  border-top-right-radius: 120px;
  border-top-left-radius: 120px;
  min-height: 951px;
  z-index: 1;

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__zag {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 54px;
    max-height: 50px;
    text-decoration: none;
    animation: text-flicker-in-glow 4s linear infinite both;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 57px;
    max-height: 50px;
    margin-left: 237px;
    margin-right: 236px;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
  }

  &__link:hover {
    text-decoration: underline;
    text-decoration-color: #c4c4c4;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
  }

  &__login {
    display: flex;
    align-items: baseline;
    gap: 25px;
    margin-top: 44px;

    &_text {
      width: 57px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
    }

    &_but {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 49px;
      text-decoration: none;
      background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
      border-radius: 100px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
    }
    &_but:hover {
      animation: wobble-hor-bottom 0.8s both;
    }
  }

  &__content {
    display: flex;

    &_link {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 15px;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      text-decoration: none;
      width: 227px;
      height: 50px;
      margin-bottom: 7px;
    }

    &_text-heading {
      font-style: normal;
      font-weight: 600;
      font-size: 55px;
      line-height: 82px;
      color: #ffffff;
      max-width: 603px;
      margin-bottom: 30px;
      min-width: 603px;
      animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    }
  }

  &_text {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
    opacity: 0.5;
    max-width: 519px;
  }
  &_but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 263px;
    height: 91px;
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
    border-radius: 27px;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #fefefe;
    text-decoration: none;
    margin-top: 68px;
    transition: all 0.3s ease-out;
  }
  &_but:hover {
    transform: translate(10px, 0px);
  }
}
&__content-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 106px;
  animation: slide-in-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

&__content-right {
  display: flex;
  &_img {
    clip-path: polygon(0 0, 100% 0, 100% 87%, 12% 100%);
  }
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 109px;
  overflow: hidden;
  background: #e5e5e5;
  &__head {
    display: flex;
  }
  &__customers {
    display: flex;
    margin-top: 200px;
  }
}

.choise {
  display: flex;
  flex-direction: column;
  min-width: 456px;
  margin-right: 49px;

  &__heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #0f1f1c;
  }

  &__center {
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    color: #0f1f1c;
  }

  &__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #0f1f1c;
    opacity: 0.5;
    max-width: 456px;
  }

  &__but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 223px;
    height: 79px;
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
    border-radius: 27px;
    margin-top: 60px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #fefefe;
    text-decoration: none;
  }

  &__image {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;

    &_img {
      display: block;
      border-radius: 60px;
    }

    &_arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 68px;
      position: absolute;
      top: 187px;
      left: -34px;
      background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
      border-radius: 34px;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}
.customers {
  min-width: 1111px;
  display: flex;
  gap: 68px;

  &__image {
    display: flex;
    &_img {
      border-radius: 60px;
    }
  }

  &__alpanasap {
    display: flex;
    align-items: center;
    gap: 33px;
    margin-top: 35px;
  }
  &__text {
    max-width: 565px;

    &_zag {
      font-weight: 500;
      font-size: 45px;
      line-height: 68px;
      color: #0f1f1c;
    }

    &_img {
      display: flex;
      width: 134px;
      height: 134px;
      background: #ffaa99;
      border-radius: 71.5px;
    }

    &_alp {
      font-weight: 500;
      font-size: 33px;
      line-height: 50px;
      color: #0f1f1c;
    }

    &_jap {
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      color: #0f1f1c;
      opacity: 0.5;
    }

    &_satisfying {
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      color: #0f1f1c;
      opacity: 0.5;
      margin-top: 60px;
    }
    &_star {
      display: flex;
      gap: 8px;
      margin-top: 30px;
    }
  }
}
.prepare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1240px;
  height: 581px;
  background: #ffffff;
  border-radius: 60px;
  margin-top: 233px;
  position: relative;
  margin-bottom: 135px;

  &__heading {
    display: flex;
    width: 519px;
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
    text-align: center;
    color: #0f1f1c;
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #0f1f1c;
    opacity: 0.5;
    margin-bottom: 60px;
  }
  &__but {
    display: flex;
    width: 225px;
    height: 79px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
    border-radius: 27px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
  }
  &__but:hover {
    animation: jello-horizontal 0.9s both;
  }
  &__illustration1 {
    position: absolute;
    top: 74px;
    right: 80px;
  }
  &__illustration2 {
    position: absolute;
    bottom: 56px;
    left: 74px;
  }
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  &__zag {
    display: flex;
    max-width: 494px;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    text-align: center;
    color: #0f1f1c;
    margin-bottom: 60px;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 129px;
    background: linear-gradient(0deg, #ffffff, #ffffff), #c4c4c4;
    border-radius: 35px;
    padding-right: 15px;
    padding-left: 46px;
    margin-bottom: 119px;
  }
  &__email {
    text-align: left;
    width: 350px;
    outline: #c4c4c4;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #0f1f1c;
    opacity: 0.5;
  }

  &__but {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 105px;
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
    border-radius: 35px;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border: none;
    outline: #ff584e;
    cursor: pointer;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e5e5e5;
  border-bottom-right-radius: 120px;
  border-bottom-left-radius: 120px;
  padding-bottom: 74px;
  &__zag {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ff7c4e;
    text-decoration: none;
  }
  &__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
  &__link {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #0f1f1c;
    opacity: 0.5;
    text-decoration: none;
  }
  &__login {
    display: flex;
    gap: 66px;
    align-items: baseline;
    &_text {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #838b89;
    }
    &_but {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 49px;
      text-decoration: none;
      background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
      border-radius: 100px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
    }
    &_but:hover {
      animation: wobble-hor-bottom 0.8s both;
    }
  }
}
