* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 620px);
  padding-right: calc(50% - 620px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(img/background_header.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  border-top-right-radius: 120px;
  border-top-left-radius: 120px;
  min-height: 951px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__zag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 54px;
  max-height: 50px;
  text-decoration: none;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  margin-top: 57px;
  max-height: 50px;
  margin-left: 237px;
  margin-right: 236px;
}

.header__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.header__but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 128px;
  height: 49px;
  text-decoration: none;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  border-radius: 100px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 25px;
  margin-top: 44px;
}

.header__login_text {
  width: 57px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.header__login_but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 128px;
  height: 49px;
  text-decoration: none;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  border-radius: 100px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
  width: 227px;
  height: 50px;
  margin-bottom: 7px;
}

.header__content_text-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #ffffff;
  max-width: 603px;
  margin-bottom: 30px;
  min-width: 603px;
}

.header__content_text {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  opacity: 0.5;
  max-width: 519px;
}

.header__content_but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 263px;
  height: 91px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #fefefe;
  text-decoration: none;
  margin-top: 68px;
}

.header__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 106px;
}

.header__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content-right_img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 12% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 87%, 12% 100%);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 109px;
  overflow: hidden;
}

.main__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}

.choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 456px;
  margin-right: 49px;
}

.choise__heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0f1f1c;
}

.choise__center {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #0f1f1c;
}

.choise__text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #0f1f1c;
  opacity: 0.5;
  max-width: 456px;
}

.choise__but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 223px;
  height: 79px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  margin-top: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fefefe;
  text-decoration: none;
}

.choise__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  right: -10px;
  position: relative;
}

.choise__image_img {
  display: block;
}

.choise__image_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 68px;
  height: 68px;
  position: absolute;
  top: 187px;
  left: -34px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
  border-radius: 34px;
  outline: none;
  border: none;
  cursor: pointer;
}

.customers {
  min-width: 1111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 68px;
}

.customers__text {
  max-width: 565px;
  font-weight: 500;
  font-size: 45px;
  line-height: 68px;
  color: #0f1f1c;
}
/*# sourceMappingURL=style.css.map */