* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 620px);
  padding-right: calc(50% - 620px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 106px;
  width: 100%;
}

.header__zag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 54px;
  max-height: 50px;
  text-decoration: none;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  margin-top: 57px;
  max-height: 50px;
  margin-left: 237px;
  margin-right: 236px;
}

.header__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.header__but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 128px;
  height: 49px;
  text-decoration: none;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  border-radius: 100px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 25px;
  margin-top: 44px;
}

.header__login_text {
  width: 57px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.header__login_but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 128px;
  height: 49px;
  text-decoration: none;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  border-radius: 100px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header__content_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
  width: 227px;
  height: 50px;
  margin-bottom: 7px;
}

.header__content_text-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #ffffff;
  max-width: 603px;
  margin-bottom: 30px;
}

.header__content_text {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  opacity: 0.5;
  max-width: 519px;
}

.header__content_but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 263px;
  height: 91px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #fefefe;
  text-decoration: none;
  margin-top: 68px;
}

.header__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 106px;
}

.header__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 659px;
}

.header__content-right_img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 109px;
}

.main__choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__choise_heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0f1f1c;
}

.main__choise_center {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #0f1f1c;
}

.main__choise_text {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #0f1f1c;
  opacity: 0.5;
  max-width: 456px;
}

.main__choise_but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 223px;
  height: 79px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 27px;
  margin-top: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fefefe;
  text-decoration: none;
}

.main__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: absolute;
  right: -200px;
}
/*# sourceMappingURL=style.css.map */