* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}
img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 620px);
  padding-right: calc(50% - 620px);
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: url(img/background_header.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  border-top-right-radius: 120px;
  border-top-left-radius: 120px;
  min-height: 951px;

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__zag {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 54px;
    max-height: 50px;
    text-decoration: none;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 57px;
    max-height: 50px;
    margin-left: 237px;
    margin-right: 236px;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
  }
  &__but {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 49px;
    text-decoration: none;
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
    border-radius: 100px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
  }

  &__login {
    display: flex;
    align-items: baseline;
    gap: 25px;
    margin-top: 44px;

    &_text {
      width: 57px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
    }

    &_but {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 128px;
      height: 49px;
      text-decoration: none;
      background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
      border-radius: 100px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
    }
  }

  &__content {
    display: flex;

    &_link {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 15px;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      text-decoration: none;
      width: 227px;
      height: 50px;
      margin-bottom: 7px;
    }

    &_text-heading {
      font-style: normal;
      font-weight: 600;
      font-size: 55px;
      line-height: 82px;
      color: #ffffff;
      max-width: 603px;
      margin-bottom: 30px;
      min-width: 603px;
    }

    &_text {
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 38px;
      color: #ffffff;
      opacity: 0.5;
      max-width: 519px;
    }
    &_but {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 263px;
      height: 91px;
      background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
      border-radius: 27px;
      font-weight: 600;
      font-size: 25px;
      line-height: 38px;
      color: #fefefe;
      text-decoration: none;
      margin-top: 68px;
    }
  }
  &__content-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 106px;
  }
  &__content-right {
    display: flex;
    &_img {
      clip-path: polygon(0 0, 100% 0, 100% 87%, 12% 100%);
    }
  }
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 109px;
  overflow: hidden;
  &__head {
    display: flex;
  }
  &__customers {
    display: flex;
    margin-top: 200px;
  }
}

.choise {
  display: flex;
  flex-direction: column;
  min-width: 456px;
  margin-right: 49px;

  &__heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #0f1f1c;
  }

  &__center {
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    color: #0f1f1c;
  }

  &__text {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #0f1f1c;
    opacity: 0.5;
    max-width: 456px;
  }

  &__but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 223px;
    height: 79px;
    background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
    border-radius: 27px;
    margin-top: 60px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #fefefe;
    text-decoration: none;
  }

  &__image {
    display: flex;
    align-items: center;
    gap: 30px;
    right: -10px;
    position: relative;

    &_img {
      display: block;
    }

    &_arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 68px;
      position: absolute;
      top: 187px;
      left: -34px;
      background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
      border-radius: 34px;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}
.customers {
  min-width: 1111px;
  display: flex;
  gap: 68px;

  &__text {
    max-width: 565px;
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
    color: #0f1f1c;
  }
}
